<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3><%= t ".general_info" %></h3>
    <%= f.input :type, collection: User.types, prompt: t("user_types.placeholder") %>
    <div class="general-info">
      <%= f.input :name, label: t(".name"), wrapper_html: { class: "hide" } %>
      <%= f.input :address, wrapper_html: { class: "hide all" } %>
      <%= f.input :city, wrapper_html: { class: "hide all" } %>
      <%= f.input :postal_code, wrapper_html: { class: "hide all" } %>
      <%= f.input :phone, wrapper_html: { class: "hide all" } %>
      <%= f.input :email, wrapper_html: { class: "hide all" } %>
      <%= f.input :vat, wrapper_html: { class: "hide venue" } %>
      <%= f.input :pa_system, wrapper_html: { class: "hide" } %>
      <%= f.input :garden, wrapper_html: { class: "hide" } %>
      <%= f.input :wifi, wrapper_html: { class: "hide" } %>
      <%= f.input :extra_info, wrapper_html: { class: "hide" } %>
      <%= f.input :own_drinks, wrapper_html: { class: "hide" } %>
      <%= f.input :own_drinks_mandatory, wrapper_html: { class: "hide" } %>
      <%= f.input :parking, wrapper_html: { class: "hide" } %>
      <%= f.input :person_capacity, wrapper_html: { class: "hide" } %>
      <%= f.input :parking_spaces, wrapper_html: { class: "hide" } %>
      <%= f.input :venue_type, wrapper_html: { class: "hide" } %>
      <%= f.input :genre, wrapper_html: { class: "hide" } %>
      <%= f.input :years_experience, wrapper_html: { class: "hide" } %>
      <%= f.input :references, wrapper_html: { class: "hide" } %>
      <%= f.input :artist_type, wrapper_html: { class: "hide" } %>
    </div>
  </div>

  <div class="form-actions">
    <h3><%= t ".specific_info" %></h3>
    <%= f.button :submit, t(".save") %>
  </div>
<% end %>
