<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @user.vat %>
</p>

<p>
  <strong>Pa system:</strong>
  <%= @user.pa_system %>
</p>

<p>
  <strong>Garden:</strong>
  <%= @user.garden %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @user.wifi %>
</p>

<p>
  <strong>Extra info:</strong>
  <%= @user.extra_info %>
</p>

<p>
  <strong>Own drinks:</strong>
  <%= @user.own_drinks %>
</p>

<p>
  <strong>Own drinks mandatory:</strong>
  <%= @user.own_drinks_mandatory %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @user.parking %>
</p>

<p>
  <strong>Person capacity:</strong>
  <%= @user.person_capacity %>
</p>

<p>
  <strong>Parking spaces:</strong>
  <%= @user.parking_spaces %>
</p>

<p>
  <strong>Venue type:</strong>
  <%= @user.venue_type %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @user.genre %>
</p>

<p>
  <strong>Years experience:</strong>
  <%= @user.years_experience %>
</p>

<p>
  <strong>References:</strong>
  <%= @user.references %>
</p>

<p>
  <strong>Artist type:</strong>
  <%= @user.artist_type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
